/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* resetting */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REUSABLE CLASSES */

h1,h2,h3,h4,h5,h6 {
    font-family: 'Overpass', sans-serif;
}

body{
    font-size: 16px;
}

a,p{
    font-family: 'Ubuntu', sans-serif;
}

:root{
    --Light--red-CTAtext: hsl(356, 100%, 66%);
    --Very--light--red-CTA-hover-background-- : hsl(355, 100%, 74%);
    --Very-dark-blue-headings--: hsl(208, 49%, 24%);
    --White-text--: hsl(0, 0%, 100%);
    --Grayish-blue-footer-text--: hsl(240, 2%, 79%);
    --Very-dark-grayish-blue-body-copy--: hsl(207, 13%, 34%);
    --Very-dark-black-blue-footer-background--: hsl(240, 10%, 16%);
    --Very-light-red--: hsl(13, 100%, 72%);
    --Light-red--: hsl(353, 100%, 62%);
    --Very-dark-gray-blue--: hsl(237, 17%, 21%);
    --Very-dark-desaturated-blue--: hsl(237, 23%, 32%);

}

/* STYLING FOR THE WEBSITE */
#navbar{
    background-color: var(--Very-light-red--);
    height: 500px;
    background-image: url(images/bg-pattern-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover 500%;
    /* background-position: center; */
    background-position: top 50% left 25%;
    border-bottom-left-radius: 60px;
}

.navabar-toggle{
    position: relative;
    display: none;
}

.nav-hamburger{
    position: absolute;
    right: .1rem;
    top: .2rem;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    max-width: 1800px;
    margin: auto;
    align-items: center;
    padding: 2rem;
}

.nav-nav{
    display: flex;
    flex-direction: row;
    width: 1800px;
}



.navbar-links{
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-left: 1rem;
}

.navbar_links > a{
    text-decoration: none;
    color: var(--White-text--);
}

.nav-buttons{
    margin-left: auto;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-links{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 25px;
    text-decoration: none;
    list-style: none;
}

.nav-link-1{
    text-decoration: none;
    color: var(--White-text--);
}

.nav-link-2{
    text-decoration: none;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 90px;
    background-color: var(--White-text--);
}

.nav-link-3{
    text-decoration: none;
    color: var(--Light-red--);
}

/* HOME SECTION */
.hero-section{
    margin-top: 45px;
    text-align: center;
}

.hero-text-1{
    font-size: 3rem;
    color: var(--White-text--);
    font-weight: 400;
    margin-bottom: 1rem;
}

.hero-text-2{
    color: var(--White-text--);
    margin-bottom: 1rem;
}

.hero-1{
    width: 130px;
    height: 45px;
    border-radius: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: var(--Light-red--);
}

.hero-1:hover{
    background-color: var(--Very--light--red-CTA-hover-background--);
    color: var(--White-text--);
}

.hero-2:hover{
    background-color: var(--White-text--);
    color: var(--Light-red--);
}

.hero-2{
   width: 130px;
    height: 45px;
    border-radius: 20px;
    border: 1px solid;
    cursor: pointer;
    color: var(--White-text--);
    background-color: transparent;
    border-color: var(--White-text--);
}

/* FEAUTRES SECTION INTRO */
#feautres-intro{
    margin: 2rem;
    text-align: center;
}
/* FEAUTRES SECTION 1 */

#feature-1{
    display: block;
}

.blogr-1{
    text-align: center;
    margin-top: 2rem;
}

.blogr-text-1{
    color: var(--Very-dark-blue-headings--);
    font-weight: 900;
    font-size: 2rem;
}

.blogr-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    padding: 0 4%;
}

.blogr-2-1{
    flex: 60%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.blogr-feature-intro{
    font-size: 1.8rem;
    color: var(--Very-dark-desaturated-blue--);
}

.blogr-feautre-2-1{
    font-size: 1.8rem;
    color: var(--Very-dark-desaturated-blue--);
}

.blogr-feautre-2{
    color: var(--Very-dark-grayish-blue-body-copy--);
}

.blogr-feautre-3{
    color: var(--Very-dark-grayish-blue-body-copy--);
}

.feautre-2-text-1{
    font-size: 1.8rem;
    color: var(--White-text--);
    margin-bottom: 1rem;
}

.feautre-2-text-2{
    color: var(--White-text--);
}

.feautre-3-text-1 > h1{
    font-size: 1.8rem;
    color: var(--Very-dark-desaturated-blue--);
    margin-bottom: 1rem;
}

.feautre-3-text-2 > h1{
    font-size: 1.8rem;
    color: var(--Very-dark-desaturated-blue--);
    margin-bottom: 1rem;
}

.feautre-3-text-1 > p{
    color: var(--Very-dark-grayish-blue-body-copy--);
    margin-bottom: 1rem;
}


.feautre-3-text-2 > p{
    color: var(--Very-dark-grayish-blue-body-copy--);
    margin-bottom: 1rem;
}

.blogr-2-2-pic{
    flex: 40%;
}

.blogr-feautre-image-mobile{
    display: none;
}

.blogr-feautre-image-laptop{
    width:  530px;
    height: 500px;
    display: block;
    position: relative;
    left: 100px;
}

.blogr_feautre_2_2{
    margin-top: 3rem;
    width: 100%;
    background-color: var(--Very-dark-gray-blue--);
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    height: 450px;
    padding: 0 4%;
}

.blogr-2-2-contents{
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.phone-img{
    background-image: url(images/illustration-phones.svg);
    background-repeat: no-repeat;
    background-position: left;
}

/* FEAUTRES SECTION 3 */
#feautre-3{
    margin-top: 4rem;
    width: 100%;
}

.blogr-feautre-3-1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.laptop-mockup-phones{
    display: none;
}

.laptop-images{
    flex: 50%;
}

.laptop-mockup-desktop{
    height: 500px;
    display: block;
    position: relative;
    right: 100px;
}

.feautre-3-texts{
   flex: 50%;
   margin-right: 3rem;
}

/* FOOTER */

#blogr-footer{
    margin-top: 2rem;
}

.footer-heading{
    color: var(--White-text--);
}

.footer-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 300px;
    max-width: auto;
    background-color: var(--Very-dark-black-blue-footer-background--);
    border-top-right-radius: 50px;
    padding: 3rem;
}

.footer-links-1{
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;
}

.footer-links-1-0 > li{
    list-style: none;
    margin-bottom: .5rem;
}

.footer-links-2{
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;
}

.footer-links-2-0 > li{
    list-style: none;
    margin-bottom: .5rem;
}

.footer-links-3{
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;
}

.footer-links-3-0 > li{
    list-style: none;
    margin-bottom: .5rem;
}

.footer-links-1-1 > a{
    color: var(--White-text--);
    text-decoration: none;
}

.footer-links-1-1 > a:hover{
    text-decoration: underline;
}

.copy-right{
    text-align: center;
}

.copy-right > a {
    text-decoration: none;
    color: var(--Very-dark-black-blue-footer-background--);
}


/* MEADIA RESPONSIVITY FOR TABLETS */

@media screen and (max-width: 870px){

    .nav-bar-items{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .navabar-toggle{
        display: block;
    }
    
    .nav-nav{
        display: none;
    }

    .nav-close{
        display: none;
    }

    .blogr-2{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 1rem;
    }

    .blogr-2-1{
        text-align: center;
    }

    .blogr-2-2-contents{
        flex-direction: column;
        text-align: center;
    }

    .blogr_feautre_2_2{
        height: 530px;
    }

    .phone-img{
        display: none;
    }

    .blogr_feautre_2_2{
        background-image: url(images/illustration-phones.svg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: 300px;
        background-position: top;
    }

    .feautre-2-text{
        margin-top: 20rem;
    }

    .blogr_feautre_2_2{
        display: flex;
        flex-direction: column;
    }

    .blogr-feautre-image-laptop{
        display: none;
    }

    .blogr-feautre-image-mobile{
        display: block;
    }

    .blogr-feautre-3-1{
        display: flex;
        flex-direction: column;
    }

    .laptop-mockup-desktop{
        display: none;
    }

    .laptop-mockup-phones{
        display: block;
    }

    .feautre-3-texts{
        margin-left: 2rem;
        margin-right: 2rem;
        align-items: center;
        text-align: center;
    }

    .footer-links{
        height: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 25px;
    }

} 